.pag-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.pag-header h6,
.pag-header li,
.pag-header h2 {
  padding: 10px;
  font-size: 1em;
}
.pag-header li span {
  margin-left: 5px;
}

.pag-box {
  display: flex;
}
.pag-header a {
  cursor: pointer;
}

select {
  padding: 4px;
  margin: 0;
  background: #fff;
  color: #888;
  border: none;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 50px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
label {
  position: relative;
}
label:after {
  content: '\f078';
  font-family: 'FontAwesome';
  font-size: 11px;
  color: #aaa;
  right: 8px;
  top: 5px;
  padding: 0 0 2px;
  position: absolute;
  pointer-events: none;
}
label:before {
  content: '';
  right: 4px;
  top: 0px;
  width: 23px;
  height: 18px;
  /* background: #fff; */
  position: absolute;
  pointer-events: none;
  display: block;
}
select:active,
label:active,
option:active {
  border: none;
}
