.table {
  background: #333;
  color: whitesmoke;
  width: 80%;
  text-transform: capitalize;
  margin: 0 auto;
}

.table-header {
  display: flex;
  /* width: 100%; */
  background: #000;
  padding: 10px;
}
.table-row {
  display: flex;
  width: 100%;
}

.table-row {
  display: flex;
  flex-direction: column;
}
.table-row ul {
  background: rgb(110, 110, 110);
  min-height: 40px;
  min-height: 50px;
  margin: 10px 0;
}
.table-row ul:nth-of-type(odd) {
  background: #313033;
}

.table-data,
.header__item {
  flex: 1 1 20%;
  text-align: center;
  padding: 10px;
}
.table-content {
  display: flex;
}
